@import "../../../node_modules/normalize.css/normalize.css";

/*
* {
  box-sizing: border-box;
}
*/

$link-color: #1a0dab;
$link-color-visited: #609;

html {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

header {
  padding-top: 0.5rem;
  a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #000;
  }
}

main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 1.75rem;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

a {
  text-decoration: none;
  color: $link-color;
  :visited {
    color: $link-color-visited;
  }
}

.link {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;
}

.data-table {
  font-family: monospace;
  font-size: 0.9rem;
  padding: 0.125rem;
  border: 1px solid #e4e4e4;
  table {
    border-collapse: collapse;
    th,
    td {
      border: 0.5px solid #e4e4e4;
      padding: 0.125rem 0.25rem;
    }
  }
}

.d-inline-block {
  display: inline-block;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
