@import "../../../node_modules/normalize.css/normalize.css";

/*
* {
  box-sizing: border-box;
}
*/

html {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  max-width: 720px;
  margin-right: auto;
  margin-left : auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

header {
  padding-top: 0.5rem;
  a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #000;
  }
}

main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 1.75rem;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

table {
  margin-top: 2rem;
  border-collapse: collapse;
  width: 100%;
  th, td {
    border: 1.5px solid;
    padding: 0.25rem 0.5rem;
  }
}

.d-inline-block {
  display: inline-block;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
