AuthType     Basic
AuthName     basic-auth
AuthUserFile <% AUTH_USER_FILE %>
require      valid-user

RewriteEngine on
RewriteBase /admin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /admin/index.html [L]
