{% extends "base.html" %}

{% block body %}
<div class="mb-3">
  {% for line in lines %}
  <a href="{{ line.line_detail_url }}">{{ line.line_name }}</a>
  {% endfor %}
</div>
<form method="POST" action="{{ station.station_update_url }}">
  <div class="form-group">
    <label>駅名</label>
    <input type="text" name="station_name" class="form-control form-control-sm" value="{{ station.station_name }}" />
  </div>
  <div class="form-group">
    <label>駅名かな</label>
    <input type="text" name="station_name_kana" class="form-control form-control-sm" value="{{ station.station_name_kana }}" />
  </div>
  <div class="form-group">
    <label>駅名 Wiki</label>
    <input type="text" name="station_name_wiki" class="form-control form-control-sm" value="{{ station.station_name_wiki }}" />
  </div>
  <div class="form-group">
    <label>住所</label>
    <input type="text" name="address" class="form-control form-control-sm" value="{{ station.address }}" />
  </div>
  <div class="form-group">
    <label>開業日</label>
    <input type="date" name="open_date" class="form-control form-control-sm" value="{{ station.open_date }}" />
  </div>
  <div class="form-group">
    <label>廃止日</label>
    <input type="date" name="close_date" class="form-control form-control-sm" value="{{ station.close_date }}" />
  </div>
  <div class="form-row justify-content-center mt-4">
    <div type="submit" class="col-6 col-md-4"><button class="btn btn-sm btn-block btn-primary">保存</button></div>
  </div>
</form>
{% endblock %}
