@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.wrapper {
  height: 100%;
}

body {
  font-family: arial, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
}

#app {
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  padding: 0.5rem;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
