{% extends "base.html" %}

{% block body %}
<h5>駅 新規作成</h5>
<div class="mt-3">
  <form method="POST" action="/station\create">
    <div class="form-group">
      <label>駅 ID</label>
      <input type="text" name="station_id" class="form-control form-control-sm" />
    </div>
    <div class="form-group">
      <label>駅名</label>
      <input type="text" name="station_name" class="form-control form-control-sm" />
    </div>
    <div class="form-group">
      <label>駅名かな</label>
      <input type="text" name="station_name_kana" class="form-control form-control-sm" />
    </div>
    <div class="form-group">
      <label>会社名</label>
      <select name="company_id" class="form-control form-control-sm">
        {% for company in companies %}
        <option value="{{ company['company_id'] }}">{{ company['company_name'] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mt-3 row justify-content-center">
      <div class="col-md-4">
        <button class="btn btn-sm btn-block btn-primary">保存</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
